.vscode/**
.vscode-test/**
src/**
webview/**
node_modules/**
.turbo/**
**/*.ts
**/*.tsx
**/*.map
**/*.d.ts
esbuild.mjs
esbuild.e2e.mjs
run-e2e.mjs
dist-e2e/**
tsconfig.json
vite.config.ts
**/.DS_Store
*.vsix
.gitignore
.npmrc
